datasets/arxiv_multiclass_val.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_1000_multiclass_test.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_1000_multiclass_val.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_dataset_processed.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_multiclass_1000_per_class.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_multiclass_full.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_multiclass_train.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_1000_multiclass_train.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_200_multiclass_test.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_200_multiclass_train.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_200_multiclass_val.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_full.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_multiclass_200_per_class.csv filter=lfs diff=lfs merge=lfs -text
datasets/arxiv_multiclass_test.csv filter=lfs diff=lfs merge=lfs -text
multiclass_model/config.json filter=lfs diff=lfs merge=lfs -text
multiclass_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
multiclass_model/scheduler.pt filter=lfs diff=lfs merge=lfs -text
multiclass_model/special_tokens_map.json filter=lfs diff=lfs merge=lfs -text
multiclass_model/tokenizer.json filter=lfs diff=lfs merge=lfs -text
multiclass_model/training_args.bin filter=lfs diff=lfs merge=lfs -text
multiclass_model/vocab.txt filter=lfs diff=lfs merge=lfs -text
multiclass_model/optimizer.pt filter=lfs diff=lfs merge=lfs -text
multiclass_model/rng_state.pth filter=lfs diff=lfs merge=lfs -text
multiclass_model/tokenizer_config.json filter=lfs diff=lfs merge=lfs -text
multiclass_model/trainer_state.json filter=lfs diff=lfs merge=lfs -text
